* {
    box-sizing: border-box;
}

body {

}


.container {
    padding: 7%;

}

body {
    background-color: #f1f1f1;

}



header {
    background-color: dimgrey;
    padding: 100px;
    text-align: center;
    color: white;


}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {

}


li {
    background-color: grey;
    text-align: center;
    color: white;
    text-decoration: none;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;


}

li:hover {
    background-color: darkslategrey;
}



footer {

    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 5px;


}